{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Duree</th>
                <th>DateArrivee</th>
                <th>Datedepart</th>
                <th>nom Client</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                {# <td>{{ reservation.id }}</td> #}
                <td>{{ reservation.duree }}</td>
                <td>{{ reservation.dateArrivee ? reservation.dateArrivee|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.datedepart ? reservation.datedepart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.client.nom }}</td>

                <td>
                    <button class="btn btn-outline-light me-5" type="button"><a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">show</a></button>
                    <button class="btn btn-outline-light me-5" type="button"><a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-outline-light me-5" type="button"><a href="{{ path('app_reservation_new') }}">créer une nouvelle réservation</a></button>
{% endblock %}
