

<div class="container-fluid">
<nav class="navbar navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-light me-5" type="button"><a href="{{path('home.index')}}">Retour a l'acceuil</a></button>
    <button class="btn btn-outline-light me-5" type="button"><a href="{{path('Presentation.index')}}">Présentation<a/></button>
    <button class="btn btn-outline-light me-5" type="button"><a href="{{path('app_logement_index')}}">Les logements<a/></button>
    <button class="btn btn-outline-light me-5" type="button"><a href="{{path('app_cathegorie_index')}}">Les Cathégories de logements<a/></button>
    <button class="btn btn-outline-light me-5" type="button"><a href="{{path('app_client_index')}}">Nos Clients<a/></button>
    <button class="btn btn-outline-light me-5" type="button"><a href="{{path('app_reservation_index')}}">Réservation<a/></button>
  </form>
  </div>
</nav>
    
  
   