

<div class="container-fluid">
<nav class="navbar navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-light me-5" type="button"><a href="{{path('home.index')}}">Retour a l'acceuil</a></button>
    <button class="btn btn-outline-light me-5" type="button"><a href="{{path('Presentation.index')}}">Présentation<a/></button>
    <button class="btn btn-outline-light me-5" type="button"><a href="{{path('app_reservation_index')}}">Réservation<a/></button>
    <button class="btn btn-outline-light me-5" type="button"><a href="{{path('app_logement_index')}}">Les logements<a/></button>
    <button class="btn btn-outline-light me-5" type="button"><a href="{{path('app_cathegorie_index')}}">Les Cathégories de logements<a/></button>
    <button class="btn btn-outline-light me-5" type="button"><a href="{{path('app_client_index')}}">Nos Clients<a/></button>
    <li class="nav-item">
          <button class="btn btn-outline-light me-5" type="button"><a class="nav-link" href="{{path('app_login')}}">se connecter</a></button>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-light me-5" type="button"><a class="nav-link" href="{{path('app_logout')}}">se déconnecter</a></button>
        </li>
     
       
  </form>
  </div>
</nav>
    
  
    {# <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TAFlokkat</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{path('home.index')}}">Acceuil</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" href="{{path('Presentation.index')}}">nos agences</a>
        </li>
        
        {% if app.user is not empty %}
         <li class="nav-item">
          <a class="nav-link" href="{{path('app_client_index')}}">Utilisateurs</a>
        </li>
        {% endif %}
        
    </div>
  </div>
</nav>  #}
      
        
          
       
