{% extends 'base.html.twig' %}

{% block title %}Cathegorie index{% endblock %}

{% block body %}
    <h1>Cathegorie index</h1>

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cathegorie in cathegories %}
            <tr>
                {# <td>{{ cathegorie.id }}</td> #}
                <td>{{ cathegorie.nom }}</td>
                <td>{{ cathegorie.prix }}</td>
                <td>
                    <button class="btn btn-outline-light me-5" type="button"><a href="{{ path('app_cathegorie_show', {'id': cathegorie.id}) }}">show</a></button>
                    <button class="btn btn-outline-light me-5" type="button"><a href="{{ path('app_cathegorie_edit', {'id': cathegorie.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-outline-light me-5" type="button"><a href="{{ path('app_cathegorie_new') }}">créer une nouvelle catégorie</a></button>
{% endblock %}
